In [2]:
import pandas as pd

In [3]:
import numpy as np

# Pandas Series
We'll start analyzing "The Group Of Seven".which is a political formed by canda ,France,Germany,Itly,Japan,The UK and the US.We all start by analying population , and for that,we'll use a pandas.series Object.

In [4]:
# In millions
g7_pop=pd.Series([35.467,63.951,80.940,60.665,127.061,64.511,318.523])

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [13]:
g7_pop.name='Population in million'

In [14]:
g7_pop.describe

<bound method NDFrame.describe of canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64>

Series are pretty similar to numpy

In [9]:
# we can see value through index of the 'g7_pop'
g7_pop[0]

35.467

In [10]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [11]:
g7_pop.index=[
    'canda',
    'France',
    'Germany',
    'Itly',
    'Japan',
    'The UK',
    'The US'
]

In [15]:
g7_pop

canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

we can say that Series looks like "order dictionry".We can actually create series out of dictionaries:

In [16]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523,
},name='Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

We can also create series out of another series

In [20]:
pd.Series(g7_pop,index=['canda','France'])

canda     35.467
France    63.951
Name: Population in million, dtype: float64

# Indexing
indexing is similar to lists and dictionries ,you use the index of the element you're looking for

In [21]:
g7_pop

canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

In [23]:
g7_pop['canda']

35.467

numbereric position can also be used,with the 'iloc' attributes

In [24]:
g7_pop.iloc[0]

35.467

In [26]:
# Selecting the multiple index at one time 
g7_pop[['canda','France']]

canda     35.467
France    63.951
Name: Population in million, dtype: float64

In [28]:
g7_pop.iloc[[0,1]]

canda     35.467
France    63.951
Name: Population in million, dtype: float64

# Conditional Selection(boolean arrays)

The same boolean array technique we saw applied to numpy arrays can be used for pandas "Series"

In [29]:
g7_pop

canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

In [30]:
g7_pop>70

canda      False
France     False
Germany     True
Itly       False
Japan       True
The UK     False
The US      True
Name: Population in million, dtype: bool

In [34]:
# if we want to see the value 
g7_pop[g7_pop>70]

Germany     80.940
Japan      127.061
The US     318.523
Name: Population in million, dtype: float64

In [35]:
g7_pop[g7_pop<50]

canda    35.467
Name: Population in million, dtype: float64

In [36]:
g7_pop.mean()

107.30257142857144

In [37]:
g7_pop.std

<bound method NDFrame._add_numeric_operations.<locals>.std of canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64>

In [38]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

# operation and method
Series also support vectorize operation and aggresion function as NumPy

In [39]:
g7_pop

canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

In [40]:
g7_pop*1_000_00

canda       3546700.0
France      6395100.0
Germany     8094000.0
Itly        6066500.0
Japan      12706100.0
The UK      6451100.0
The US     31852300.0
Name: Population in million, dtype: float64

In [42]:
g7_pop.mean()

107.30257142857144

# Boolean Array
(work with same as the numpy)

In [43]:
g7_pop

canda       35.467
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

In [44]:
g7_pop>80

canda      False
France     False
Germany     True
Itly       False
Japan       True
The UK     False
The US      True
Name: Population in million, dtype: bool

In [48]:
g7_pop[(g7_pop>200)|(g7_pop<100)]

canda       35.467
France      63.951
Germany     80.940
Itly        60.665
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

In [49]:
g7_pop[(g7_pop>80)&(g7_pop<100)]

Germany    80.94
Name: Population in million, dtype: float64

# Modifying series

In [52]:
# modifying the value of any index
g7_pop['canda']=40.0

In [51]:
g7_pop

canda       40.000
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     318.523
Name: Population in million, dtype: float64

In [53]:
g7_pop.iloc[-1]=500

In [54]:
g7_pop

canda       40.000
France      63.951
Germany     80.940
Itly        60.665
Japan      127.061
The UK      64.511
The US     500.000
Name: Population in million, dtype: float64

In [55]:
g7_pop[g7_pop>100]=700

In [56]:
g7_pop

canda       40.000
France      63.951
Germany     80.940
Itly        60.665
Japan      700.000
The UK      64.511
The US     700.000
Name: Population in million, dtype: float64