In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('D:\\Data_Analysis\\data\\cryptos.xlsx')

In [4]:
df.head()

,CloseTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,NA
0,2019-03-20 14:00:00,3998.64,4002.52,3993.50,3998.00,173.321628,6.928502e+05
1,2019-03-20 15:00:00,3998.83,4004.95,3993.00,4004.95,347.431239,1.388839e+06
2,2019-03-20 16:00:00,4006.00,4008.00,3992.00,3998.85,232.962893,9.317110e+05
3,2019-03-20 17:00:00,3998.84,4021.02,3994.84,4002.50,781.703067,3.138661e+06
4,2019-03-20 18:00:00,4001.56,4005.41,3992.97,3998.60,171.735476,6.867960e+05

In [8]:
df['OpenPrice'].max()

4040.69

In [9]:
df['HighPrice'].max()

4055.35